.main-container {
  border-style: groove;
  border-width: 10px;
  border-color: ##FF9DF4;
  padding: 10px;
}

body {
  background-color: #8BEEFF;
}

h1 {
  font-family: 'Macondo', macondo;
    border-style: dashed;
    border-color: #000000;
    border-width: 4px;
    background-color: #81FF90;
    padding: 40px;
    text-align: center;
    line-height: 1.35em;
    color: black;
    font-size:26pt;
}

h3 {
  font-family: 'Macondo', macondo;
  border-style: ridge;
  border-color: #D748FF;
  border-width: 3px;
  background-color: #283057;
  padding: 10px;
  color: white;
  text-align: center;
  font-variant: small-caps;
  font-size: 22pt;
}

p {
  font-family: 'Sprirax', spirax;
  color: #283018;
  text-align: justify;
  line-height: 1.3em;
  font-size: 20pt;
}

p a {
  font-family: 'Sprirax', spirax;
  color: #283018;
  font-size: 20pt;
}

p a:hover {
  font-family: 'Sprirax', spirax;
  font-style: italic;
  color: #056A00;
}

p p:first-child {
  font-size: 20pt;
  font-weight: bold;
  }

form {
  font-family:'Macondo', macondo;
  color: #283018;
}
